@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: linear-gradient(-45deg, #0563ce, #ffffff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 200vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
img {
    filter: grayscale(1);
    height: 32px; 
    transition: 0.5s;
    margin: 5px;
}

img:hover { 
    filter: grayscale(0);
    height: 40px;
    margin: 7px;
    
}
a { 
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s; 
}
a.cw:hover { 
    color: rgb(255, 251, 0); 
    text-shadow: 0 0 2px;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

